body{
    background-color: rgb(20, 20, 126);
    color: white;
    font-family: 'Courier new', monospace;
    margin: 0px;
    margin-bottom: 3vw;
}

.background{
    display: flex;
    height: fit-content;
    z-index: -1;
    /* border: solid black 3px; */
}

.background img{
    position: fixed;
    z-index: -1;
}

.foreground{
    display: flex;
    z-index: 1;
    justify-content: space-between;
    height: fit-content;
    flex-wrap: wrap;
    /* border: solid white 3px; */
}

#title{
    border: solid rgb(11, 152, 124) 3px;
    font-size: 4vw;
    margin-left: 3vw;
    margin-top: 1vw;
    height: 15vw;
}

#title p{
    font-size: 2em;
    line-height: 0;
}

#menu{
    font-size: 3vw;
    width: 15vw;
    height: 20vw;
    margin-right: 5vw;
    margin-top: 2vw;
    padding-left: 0.5vw;
    border: solid rgb(11, 152, 124) 3px;
}

#menu a{
    line-height: 1.5em;
}

#content{
    width: 85vw;
    margin-left: 3vw;
    margin-top: -7vw;
    height: 30vw;
    border: solid white 1px;
    background-color: #89ffd850;
}